.creation {
    margin-top: 2rem;
    @include breakpoint-up(large){
       position: relative;
    }

    &__title {
        text-align: center;
        font-weight: 50;
        font-size: 1.8rem;
        color: $Black;
        text-transform: uppercase;
        line-height: 2rem;
        letter-spacing: 4px;
        opacity: 0.8;
        padding-top: 4rem;
        padding-bottom: 4rem;

        @include breakpoint-up(large){
            text-align: left;
        }
    }

    &__content {
        margin-bottom: 2rem;
        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
        }
        
    }
    &__box {
        margin: 2rem 0;
        position: relative;
        height: 10rem;
        transition: all 300 ease-in-out;
        border: 1px solid $VeryDarkGray;
        
        cursor: pointer;

        @include breakpoint-up(large){
            
            height: 30rem;
            width: 15rem;
            margin : 0;
            
        }
        &:hover{
            &::before {
                
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.605);
            }

            h1{
                color: $Black;
            }
        }


        h1 {
            position: absolute;
            color: $White;
            bottom: 2rem;
            left: 2rem;
            text-align: left;
            width: 70%;
            font-weight: lighter;
            opacity: 1;

        }

    }
        .box1{
            background-image: url('/images/mobile/image-deep-earth.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-deep-earth.jpg');
            }
        }    

        .box2{
            background-image: url('/images/mobile/image-night-arcade.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-night-arcade.jpg');
            }
        }
        .box3{
            background-image: url('/images/mobile/image-soccer-team.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-soccer-team.jpg');
            }       
        } 
        .box4{
            background-image: url('/images/mobile/image-grid.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-grid.jpg');
            }          
        }

        .box5{
            background-image: url('/images/mobile/image-from-above.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-from-above.jpg');
            }          
        }
        
        .box6{
            background-image: url('/images/mobile/image-pocket-borealis.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-pocket-borealis.jpg');
            }          
        }        
    
        .box7{
            background-image: url('/images/mobile/image-curiosity.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-curiosity.jpg');
            }          
        }
        
        .box8{
            background-image: url('/images/mobile/image-fisheye.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            @include breakpoint-up(large){
                background-image: url('/images/desktop/image-fisheye.jpg');
            }          
        }             

    &__see_all {
        width: 60%;
        border: 1px solid $Black;
        text-align: center;
        padding: 0.8rem 2rem;
        margin: 5rem auto;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.1rem;
        cursor: pointer;
        @include breakpoint-up(large){
            margin: 0 auto;
            width: 10rem;
            position: absolute;
            top: 4.4rem;
            right: 2.466rem;
            transition: all 300ms ease-in-out;

            &:hover{
                background-color: $Black;
                color: $White;
            }
        }    
    }

    
}