.hero {
    text-align: center;
    padding-top: 4rem;
    @include breakpoint-up(large){
        position: relative;
        height: 80vh;
    }

    &__image {
        width: 100%;
        @include breakpoint-up(large){
            width: 75%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__content {
        @include breakpoint-up(large){
            width: 40%;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $White;
            padding: 2rem;
        }
    }

    &__title {
        font-weight: 50;
        font-size: 2rem;
        color: $Black;
        text-transform: uppercase;
        line-height: 2rem;
        letter-spacing: 4px;
        opacity: 0.8;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__text {
        color: $DarkGray;
        font-family: $font-normal;
        font-size: 1.333rem;
    }
}